@font-face {
    font-family: Anuphan-Regular;
    src: url(../font/Prompt-SemiBold.woff);
}

* {
    margin: 0 0;
    padding: 0 0;
    font-family: Anuphan-Regular;
}

.wrapper {
    /* border: 1px solid black; */
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.clearfix {
    float: none;
    clear: both;
}


/* tb Manage admin */

.tbl-full {
    width: 100%;
}


/* add-adminn */

.tbl-int {
    width: 100%;
}

table tr th {
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}

table tr td {
    padding: 1%;
}


/* ปุ่ม ที่admin*/

.btn-primary {
    background-color: #E9B824;
    padding: 1%;
    color: aliceblue;
    text-decoration: none;
    /*ลบเส้นที่ขีดข้อวาม*/
    font-weight: bold;
}

.btn-login {
    background-color: #557A46;
    padding: 1%;
    color: aliceblue;
    text-decoration: none;
    /*ลบเส้นที่ขีดข้อวาม*/
    font-weight: bold;
}

.btn-login:hover {
    background-color: #F99417;
}

.btn-admin {
    background-color: #FF8787;
    padding: 1%;
    color: aliceblue;
    text-decoration: none;
    /*ลบเส้นที่ขีดข้อวาม*/
    font-weight: bold;
}


/* วางที่ปุ่มแล้วเเปลี่ยนสี */

.btn-primary:hover {
    background-color: #557A46;
}


/* ปุ่ม Update Admin*/

.btn-second {
    background-color: #557A46;
    padding: 1%;
    color: aliceblue;
    text-decoration: none;
    /*ลบเส้นที่ขีดข้อวาม*/
    font-weight: bold;
}


/* วางที่ปุ่มแล้วเเปลี่ยนสี */

.btn-second:hover {
    background-color: #FF9B9B;
}


/* ปุ่ม Delete*/

.btn-delete {
    background-color: #C51605;
    padding: 1%;
    color: aliceblue;
    text-decoration: none;
    /*ลบเส้นที่ขีดข้อวาม*/
    font-weight: bold;
}


/* วางที่ปุ่มแล้วเเปลี่ยนสี */

.btn-delete:hover {
    background-color: blanchedalmond;
}


/* แสดงข้อความตอนเพพิ่ม ลบ admin */

.success {
    color: burlywood;
}

.error {
    color: coral;
}


/* css menu */


/* .menu {
    text-align: center;
} use .text-center*/

.menu {
    border-bottom: 1px solid gray;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline;
    padding: 1%;
}

.menu ul li a {
    text-decoration: none;
    /* เส้นที่ขีดข้าล่างหายไป */
    font-weight: bold;
    color: black;
}

.menu ul li a:hover {
    color: rgb(205, 124, 26);
    /* เอาเมาส์ไปวางแล้วเปลี่ยนสี */
}


/* main-content */

.main-content {
    /* margin: 1% 0; */
    background-color: #FFF6F6;
    padding: 3% 0;
}

.col-4 {
    width: 18%;
    background-color: #FFF89A;
    margin: 1%;
    padding: 2%;
    float: left;
    border: 3px solid #FF8787;
}


/* css footer */

.footer {
    background-color: #FF8787;
    color: black;
}


/* login */

.login {
    border: 1px solid #1F1717;
    background-color: #FEFF86;
    width: 20%;
    margin: 10% auto;
    padding: 2%;
}